.skull {
  position: absolute;
  white-space: pre;
  font-family: monospace;
  font-size: 16px;
  animation: moveSkull 4s infinite alternate ease-in-out;
}

@keyframes moveSkull {
  from {
    left: 20px;
  }

  to {
    left: 400px;
  }
}