#root {
    max-width: 1280px;
    /* text-align: center; */
    margin: 0 auto;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #000;
    overflow: hidden;
}

.power-screen {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.power-btn {
    background: none;
    border: 2px solid #00ff41;
    color: #00ff41;
    padding: 20px 40px;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    box-shadow: 0 0 15px #00ff41;
}

.power-btn:hover {
    background-color: #00ff41;
    color: white;
    border-color: inherit;
}

.terminal-screen {
    height: 100vh;
    padding: 40px;
    font-family: 'Courier New', monospace;
    color: #00ff41;
}

.terminal-screen.glitching {
    color: #ff0000;
    background-color: #1a0000;
}

.boot-line {
    margin: 4px 0;
}

.app-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #00ff41;
    font-family: 'Courier New', monospace;
}

.red-alert {
    color: #ff3333
}

.terminal-window {
    background: #000;
    padding: 20px;
    border: 1px solid currentColor;
    margin-bottom: 20px;
    min-width: 600px;
    min-height: 400px;

    display: flex;
    justify-content: center;
}

.ascii-art {
    white-space: pre;
    font-size: 17px;
    line-height: 1.2;
    text-align: inherit;
}

.interface-footer {
    display: flex;
    gap:20px;
    align-items: center;
}

.controls button, .toggle-system-btn {
    background: transparent;
    border: 1px solid currentColor;
    color: inherit;
    padding: 8px 16px;
    cursor: pointer;
    font-family: inherit;
    margin-right: 15px;
}

.toggle-system-btn {
    border-style: dashed;
    color: inherit;
    border-color: inherit;
    background-color: inherit;
}

.cursor {animation: blink 1s step-end infinite;}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.glitch-shake {
    animation: shake 0.1s infinite;
}

@keyframes shake {
    0% { transform: translate(2px, 2px); }
    25% { transform: translate(-2px, -2px); }
    50% { transform: translate(-2px, 2px); }
    75% { transform: translate(2px, -2px); }
}